h2 {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

input {
    margin: 0 auto;
    width: 50%;
    padding: 15px;
}

.button1 {
    padding: 10px;
    background-color: rgb(172, 150, 49);
    margin-left: 15px;
}

.button2 {
    padding: 10px;
    background-color: rgb(166, 198, 115);
    margin-left: 20px;
}

footer {
    background-color: rgb(172, 180, 57);
}

body {
    background-color: rgb(174, 194, 142);
}

li {
    font-size: 24px;
}
